.footer {
  margin-top: 170px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 66px;
    max-width: 1170px;
    width: 100%;
    .left-line,
    .right-line {
      max-width: 371px;
      width: 100%;
      height: 2px;
      background-color: #6e774a;
    }
    .title {
      font-size: 60px;
      font-weight: 400;
      color: #6e774a;
      text-align: center;
    }
  }

  &__box {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    a {
      display: inline-block;
      width: 370px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.28em;
      color: #6e774a;
      border-bottom: 1px solid transparent;
      padding-bottom: 5px;
      text-align: center;
    }

    a:hover {
      transform: scale(1.2);
      font-weight: 400;
    }

    .fab {
      color: #6e774a;
      font-size: 24px;
    }
  }
  &__social {
    width: 190px;
    display: flex;
    justify-content: space-between;
  }

  &__vertical {
    margin: 40px auto 0;
    width: 2px;
    height: 55px;
    background-color: #6e774a;
  }

  &__terms,
  &__returns {
    padding: 25px 0px;
  }

  .form {
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    &__area {
      display: flex;
      justify-content: center;
    }
    &__title {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      color: #1c1c1b;
      margin-bottom: 30px;
    }

    &__input {
      background-color: transparent;
      border: 2px solid #ced6af;
      padding: 23px 0px 23px 30px;
      width: 70%;
    }

    &__input::placeholder {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.28em;
      color: #6e774a;
    }

    &__button {
      background-color: transparent;
      border: 2px solid #ced6af;
      width: 20%;
      padding: 23px;
      cursor: pointer;
    }
  }
  .copyright {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
    &__text {
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.28em;
      color: #6e774a;
    }
  }
  @media screen and (max-width: 1270px) {
    &__header {
      justify-content: space-around;
      .left-line,
      .right-line {
        width: 210px;
      }
    }
    &__box {
      justify-content: space-around;
    }
  }

  @media screen and (max-width: 1000px) {
    &__box {
      a {
        width: 210px;
      }
    }
  }

  @media screen and (max-width: 850px) {
    &__header {
      .left-line,
      .right-line {
        display: none;
      }
    }

    &__vertical {
      display: none;
    }

    &__box {
      align-items: center;
      flex-direction: column;
    }

    &__terms,
    &__returns {
      padding: 10px 0px;
    }

    &__social {
      padding: 40px 0px;
    }
    .form {
      width: 90%;
    }
  }
}
